# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Derived data and build products
DerivedData/
build/
Build/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs & temp
*.log
*.tmp
*.temp
